{% load static %}
{% load i18n %}

<div class="container">
  <div class="row">
    <div class="col l6 s12">
      PotiLivre - Comunidade Potiguar de Software Livre <br>
Copyleft - Alguns direitos reservados, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes. <br>
Desenvolvido com o CMS Joomla! que é software livre disponibilizado sob a Licença Pública Geral GNU. <br>
Template: Gantry Framework <br>
      <!-- <h5 class="white-text">{% trans "Jararaca - GruPy-RN Event and Check-in System" %}</h5>
      <p class="grey-text text-lighten-4">{% trans "From developers to the community." %}</p> -->
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">{% trans "Social networks" %}</h5>
      <div class="categories-container pin-top">
        <ul class="categories db fa-ul">
          <li class="fa-li social-network-li"><a class="grey-text text-lighten-3" href="https://t.me/potilivre" target="_blank"><i class="fab fa-telegram fa-2x"></i></a></li>
          <li class="fa-li social-network-li"><a class="grey-text text-lighten-3" href="http://www.twitter.com/potilivre" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="fa-li social-network-li"><a class="grey-text text-lighten-3" href="https://www.facebook.com/PotiLivre" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a></li>
          <li class="fa-li social-network-li"><a class="grey-text text-lighten-3" href="https://www.instagram.com/potilivre_/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    2019 PotiLivre
  </div>
</div>
