{% extends 'site/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

  {% include 'site/parallax.html' %}


  <section>
    <div class="container">
      <div class="row">

        <h1 id="future-events" class="center-align black-title scrollspy">{% trans "Future events" %}</h1>

        {% for event in future_events %}
          <div class="col s12 m6">
            <div class="card black-card">
              <div class="card-content white-text">
                {% if event.certificate_model %}
                  <span class="card-title">{{ event.name }} 📜</span>
                {% else %}
                  <span class="card-title">{{ event.name }}</span>
                {% endif %}
                <p>{{ event.place }}</p>
                <p>{% for date in event.date %}{{ date|date:'SHORT_DATE_FORMAT' }}{% if not forloop.last %},
                {% endif %}{% endfor %}</p>
              </div>
              <div class="card-action">
                {% if not event.closed_registration %}
                  <a class="yellow-link" href="{% url 'attendee-registration' event.slug %}">{% trans "Register" %}</a>
                {% endif %}
                <a class="yellow-link" href="{% url 'event-info' event.slug %}">{% trans "More info" %}</a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="center">
            <p>{% trans "Coming soon." %}</p>
            <p>{% trans "In the meantime, take a look at the "%} <a href="/#past-events">{% trans "previous events!" %}</a></p>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <section class="about">
    <div class="container ">
      <div class="row">
        <div class="s12">
          <h1 id="who-we-are" class="center-align black-title scrollspy">{% trans "Who we are" %}</h1>
          <p>
            PotiLivre é a Comunidade Potiguar de Software Livre, fundada em
            2013. Somos uma organização independente, composta por voluntários,
            para o apoio à filosofia e o uso do Software Livre. Para nortear
            nossas ações e não perder o foco no que é importante, definimos
            missão e visão:
          </p>
          <p>
            MISSÃO:
            Servir como principal ponto de integração entre as comunidades de
            Software Livre do nosso Estado, oferecendo uma estrutura simples e
            eficiente para o direcionamento e a organização dos esforços colaborativos.
          </p>
          <p>
            VISÃO:
            Ser o maior grupo de usuários de Software Livre do País, colocando o
            Rio Grande do Norte na posição de Estado referência na adoção e no
            uso de Software Livre, tanto na iniciativa pública quanto na iniciativa privada.
          </p>
          <p>
            Uma curiosidade sobre o PotiLivre é a logo do grupo, o “P” espelhado.
            Chamamos ele de PotiLeft, uma alusão ao Copyleft.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col s12">

          <h1 id="past-events" class="center-align black-title scrollspy">{% trans "Past events" %}</h1>

        {% if past_events %}
          <table class="highlight centered ">
            <thead>
            <tr>
              <th>{% trans "Event" %}</th>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Place" %}</th>
              <th>{% trans "Content" %}</th>
            </tr>
            </thead>
            <tbody>

            {% for event in past_events %}
              <tr>
                <td>{{ event.name }}</td>
                <td>{% for date in event.date %}{{ date|date:'SHORT_DATE_FORMAT' }}{% if not forloop.last %},
                {% endif %}{% endfor %}</td>
                <td>{{ event.place }}</td>
                <td>
                  {% if event.content_link %}
                    <a href="{{ event.content_link }}" target="_blank">{% trans 'Open' %}</a>
                  {% else %}
                    {% trans "Unavailable" %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        {% else %}
          <p>{% trans "There are no past events to show." %}</p>
        {% endif %}

        </div>
      </div>
    </div>
  </section>

{% endblock content %}
